In [103]:
import pandas as pd

In [107]:
players = pd.read_csv("players.csv", index_col="id")
players.head (5)

,player,position,team_id,fg,fga,trb,ast,stl,blk,tov,pts
id,,,,,,,,,,,
1,Precious Achiuwa,PF,MIA,2.0,3.7,3.4,0.5,0.3,0.5,0.7,5.0
2,Jaylen Adams,PG,MIL,0.1,1.1,0.4,0.3,0.0,0.0,0.0,0.3
3,Steven Adams,C,NOP,3.3,5.3,8.9,1.9,0.9,0.7,1.3,7.6
4,Bam Adebayo,C,MIA,7.1,12.5,9.0,5.4,1.2,1.0,2.6,18.7
5,LaMarcus Aldridge,C,SAS,5.5,11.8,4.5,1.7,0.4,0.9,1.0,13.7

In [114]:
players.groupby("position").pts.average

AttributeError: 'SeriesGroupBy' object has no attribute 'average'